# EditorConfig: https://editorconfig.org/

root = true

# 'ij_' prefix indicates JetBrains' IDE specific features (IntelliJ)

[*]
indent_style = space
indent_size  = 2
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_brace_style = K&R
ij_smart_tabs = true

[*.java]
indent_size = 4
ij_java_blank_lines_after_imports = true
ij_java_block_brace_style = end_of_line
ij_java_class_brace_style = end_of_line

[*.groovy]
indent_size = 4
indent_style = space
ij_groovy_if_brace_force = always
ij_groovy_method_brace_style = end_of_line
ij_groovy_lambda_brace_style = end_of_line

[*.xml]
indent_size = 4

[Makefile]
indent_style = tab

[*.gradle]
indent_size = 4

[Jenkinsfile]
indent_size = 2

[Jenkinsfile.*]
indent_size = 2

[*.py]
indent_size = 4

[*.go]
indent_style = tab
