[user]
  name = Doug Borg
  email = doug.borg@dougborg.org

[github]
  user = dougborg

[web]
  browser = google-chrome

[push]
  default = tracking

[hub]
  protocol = https

[credential]
  helper = osxkeychain

[alias]
  promote = ~/bin/git-promote
  wtf     = ~/bin/git-wtf
  rank-contributers = ~/bin/git-rank-contributers

  co = checkout
  c  = commit
  s  = status -sb
  b  = branch
  a  = add -A .

  # Diffs
  sdiff = diff --short-stat
  ndiff = diff --name-only
  count = !git shortlog -sn

  # Logs
  plog  = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  logme = log --author='Doug.*Borg'
  blog  = log --graph --decorate --pretty=oneline --abbrev-commit

  # Safeguards
  rebase = rebase -i

  # Tools from mklich
  oldest-ancestor = !bash -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
  diverges = !bash -c 'git rev-parse $(diff <(git log --pretty=oneline ${1}) <(git log --pretty=oneline ${2}) | tail -1 | cut -c 3-42)^'

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = green
  changed = yellow
  untracked = red

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  tool = meld
  log = true

[core]
  excludesfile = ~/.gitignore
  editor = vim

[apply]
  whitespace = nowarn

[mergetool]
  keepBackup = false

[difftool]
  prompt = false

[diff]
  mnemonicprefix = true
  renames = copies

[help]
  autocorrect = 0
